[Desktop Entry]
Version=1.0
Name=LATS
Comment= LATS P2P Cryptocurrency
Comment[fr]= LATS, monnaie virtuelle cryptographique pair à pair
Comment[tr]= LATS, eşten eşe kriptografik sanal para birimi
Exec=lats-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=lats-qt
